snippet afc "Description"
    () => {
        ${0:${VISUAL}}
    }
endsnippet

snippet cpp "c++ basic template"
#include <bits/stdc++.h>
using namespace std;
using ll = long long int;

int main() {
	cout << "hello World\n";
}
endsnippet
